@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* 你的自定义样式 */
html, body {
  height: 100%;
  background-color: transparent
}

.google-play-badge {
  max-width: 160px;
  display: inline-block;
}

.google-play-badge img {
  width: 100%;
  height: 60%;
}